/* universal */

body {
  font-family: Helvetica, "Microsoft YaHei", Arial, sans-serif;
  font-size: 14px;
}

/* header */

.navbar-static-top {
  border-color: #e7e7e7;
  background-color: #fff;
  box-shadow: 0 1px 11px 2px rgba(42, 42, 42, 0.1);
  border-top: 4px solid #00b5ad;
  border-bottom: 1px solid #e8e8e8;
  margin-bottom: 40px;
  margin-top: 0;
  width: 100%;
}

.navbar-brand{
  display: inline-block;
  font-size: 19px;
  line-height: 46px;
}

/* Sticky footer styles */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.navbar-right{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #000;
}

.container {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-flow: nowrap;
  justify-content: space-between;
  width: 80%;
}

p {
  margin: 19px 0;
  color: #c1c1c1;
}

ul,li{
  list-style:none;
  margin-left:15px;
}

a {
  color: inherit;
  text-decoration: none;
}
